<div *ngIf="user!=null">
  <table class="table">
    <thead>
      <tr>
        <th class="key">Key</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody *ngFor="let value of Object.entries(user)">
      <tr>
        <td class="key">{{value[0]}}</td>
        <td class>{{value[1]}}</td>
      </tr>
    </tbody>
  </table>
</div>