
<div class="col-md-3">
            <div class="list-group">
              <a  routerLinkActive="active main-color-bg" routerLink="/forms" class="list-group-item">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard
              </a>
              <a  routerLinkActive="active main-color-bg" routerLink="/users" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users </a>
              <a  routerLinkActive="active main-color-bg" routerLink="/forms2" class="list-group-item"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Posts </a>
              <a  routerLinkActive="active main-color-bg" routerLink="/forms3" class="list-group-item"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users </a>
            </div>

            <div class="well">
              <h4>Disk Space Used</h4>
              <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                      60%
              </div>
            </div>
            <h4>Bandwidth Used </h4>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                    50%
            </div>
          </div>
            </div>
          </div>