<a class="pull-right" href="#">
                <img class="media-object dp img-circle" src="http://www.huffmancode.com/img/hardik.jpg" style="width: 100px;height:100px;">
            </a>
<div class="user-info">
    <h4 class="media-heading">{{user.FirstName}} {{user.LastName}} <small> {{user.Id}}</small></h4>
    <h5>{{user.Email}}</h5>
    <hr style="margin:8px auto">
</div>