<header id="header">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <h1><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> LawSurvey <small>Manage Your Forms</small></h1>
          </div>
          <div class="col-md-4">
          <app-user-info-bar [user]="user"> </app-user-info-bar>
          </div>
        </div>
      </div>
    </header>
