
<div class="alert alert-success" *ngFor= "let message of successMessages">

  <strong>Success!</strong> {{message}}.
</div>


<div class="alert alert-warning" *ngFor= "let message of warningMessages">
  <strong>Warning!</strong> {{message}}.
</div>

<div class="alert alert-danger" *ngFor= "let message of errorMessages">
  <strong>Error!</strong> {{message}}.
</div>