
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                User
            </th>
            <th>
                Email
            </th>
            <th>
                Status
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users; let i = index">
            <td>
                {{user.Id}}
            </td>
            <td>
                {{user.FirstName + ' '+ user.LastName}}
            </td>
            <td>
               <a href="mailto:{{user.Email}}">{{user.Email}}</a> 
            </td>
            <td>
                {{user.Activated}}
            </td>
            <td>

               
                <button *ngIf="user.Activated == false" class="btn btn-default" (click)="activate(user)" >Activate </button>
                <button *ngIf="user.Activated" class="btn btn-default" (click)="deactivate(user)">Dectivate </button>
                <button class="btn btn-primary" [routerLink]="['details', user.Id]" >Details </button>
            </td>
        </tr>
        
    </tbody>
</table>
 <div [hidden]="products!=null" id="loading"></div> 